#parent, .cards {
    display: inline-block;
    }
    
    
    
    
    .cards {
        height: 150px;
        width: 250px;
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: red;
        margin: 10px;
    }
    
    /* On mouse-over, add a deeper shadow */
    .cards:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .active{
        background-color: green;
    }
    
    .numContent {
     display: table;
      margin: 0 auto;
    
    }
    