<div id="parent">

	<ng-template  ngFor  let-item [ngForOf]="createRange()">
		<div class="cards" [ngClass]="selectedIndex == item ? 'active' : ''" (click)="setSelected(item,$event)">
			<span class="numContent" *ngIf="item === isActive">{{item}}</span>
		<div class="imageContent" ><img [src]='imgcontent(item)' ></div>
		
	</div>
	</ng-template>
</div>
<button type="button" (click)="getcatPictures()">Show Picture</button>
<button type="button" (click)="addcard()">AddCard</button>
